<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <title>{{ title or "Bug Bounty Reports" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen bg-gray-900 text-gray-200">
  <nav class="bg-gray-800 shadow p-4 mb-6">
    <div class="container mx-auto">
      <a href="/"><h1 class="text-xl font-bold text-yellow-400 font-mono"> BountyRead</h1></a>
    </div>
  </nav>

  <main class="flex-grow container mx-auto px-4">
    {{ content | safe }}
  </main>

  

<footer class="mt-5 bg-gray-900 text-center text-gray-400 py-8 px-4 relative before:absolute before:inset-x-0 before:top-0 before:h-px before:bg-gradient-to-r before:from-gray-700/0 before:via-gray-700/20 before:to-gray-700/0">
  <div class="mb-3 mr-4 space-x-6 text-gray-600 text-sm">
    <a class="hover:text-yellow-500" href="https://github.com/redtrib3/bugbounty-reports-curated" target="_blank" rel="noopener noreferrer">Source Code</a>
    <a class="hover:text-yellow-500" href="https://github.com/redtrib3/bugbounty-reports-curated/pulls" target="_blank" rel="noopener noreferrer">Contribute</a>
    <a class="hover:text-yellow-500" href="mailto:admin@redtrib3.in">Contact</a>
  </div>

  <div class=" mb-3 text-gray-500 text-xs">
    All reports are for educational purposes only.
  </div>
</footer>


</body>

</html>
