---
permalink: sitemap.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for page in collections.all %}
  {% if page.url and page.url != "/404.html" %}
  <url>
    <loc>https://bountyread.redtrib3.in{{ page.url }}</loc>
    <lastmod>{{ page.date.toISOString().slice(0,10) }}</lastmod>
    {% if page.url | slice(0,9) == "/reports/" %}
      <changefreq>daily</changefreq>
    {% endif %}
  </url>
  {% endif %}
{% endfor %}
</urlset>
